Repository Irere123/Quibi, changes with the labels that .github/labeler.yml gives for each.
All labels: web, emote, translation

.github/labeler.yml:

web:
  - web/**/*
emote:
  - web/public/emotes/**/*
translation:
  - web/public/locales/**/*

feat(web): added the chip icon
  web/src/stories/Chip.story.tsx
  web/src/ui/Chip.tsx
Labels: web

refactor(web): new pages routes structure
  web/src/modules/academic/AcademicController.tsx
  web/src/modules/academic/AcademicPage.tsx
  web/src/modules/academic/tasks/TasksPage.tsx
  web/src/modules/display/HeaderController.tsx
  web/src/modules/events/EventsPage.tsx
  web/src/modules/layouts/Panels.tsx
  web/src/modules/layouts/TabletSidebar.tsx
  web/src/modules/live/LivePage.tsx
  web/src/modules/live/MinimizedQuizCardController.tsx
  web/src/modules/live/RightPanel.tsx
  web/src/modules/live/WorksController.tsx
  web/src/modules/scheduled-quizes/ScheduleQuizesPage.tsx
  web/src/modules/scheduled-quizes/ScheduledQuizList.tsx
  web/src/modules/user/notifications/NotificationsController.tsx
  web/src/modules/user/notifications/NotificationsPage.tsx
  web/src/pages/events.tsx
  web/src/pages/explore.tsx
  web/src/pages/live.tsx
  web/src/pages/notifications.tsx
  web/src/pages/people.tsx
  web/src/pages/u/academic/events.tsx
  web/src/pages/u/academic/index.tsx
  web/src/pages/u/academic/tasks.tsx
  web/src/pages/u/people.tsx
  web/src/ui/FollowSuggCard.tsx
  web/tailwind.config.js
Labels: web

feat(web): finished notifications page
  web/src/modules/user/notifications/NotificationsController.tsx
  web/src/ui/NotificationElement/FollowNotification.tsx
Labels: web

refactor(web): new people page
  web/.storybook/preview.js
  web/public/favicon.ico
  web/public/quibi.svg
  web/public/vercel.svg
  web/src/modules/user/PeopleController.tsx
  web/src/stories/Search/SearchBar.story.tsx
  web/src/stories/Search/SearchHistory.story.tsx
  web/src/stories/Search/SearchOverlay.story.tsx
  web/src/stories/Search/SearchResult/QuizSearchResult.story.tsx
  web/src/stories/Search/SearchResult/UserSearchResult.story.tsx
  web/src/stories/Tag.story.tsx
  web/src/stories/UserBadge.story.tsx
  web/src/ui/PersonElement.tsx
  web/src/ui/UserBadge.tsx
  web/src/ui/search/SearchHistory.tsx
  web/src/ui/search/SearchResult/QuizSearchResult.tsx
  web/src/ui/search/SearchResult/index.ts
Labels: web

feat(global): new chnages
  api/lib/beef/schemas/quiz.ex
  api/lib/broth/socket_handler.ex
  api/lib/onion/user_session.ex
  web/src/modules/layouts/Panels.tsx
  web/src/modules/live/RightPanel.tsx
  web/src/modules/quiz/chat/QuizChatList.tsx
  web/src/modules/user/PeopleController.tsx
  web/src/modules/user/PeoplePage.tsx
  web/src/pages/people.tsx
  web/src/ui/PersonElement.tsx
Labels: web

feat(global): added docker
  .assets/quibi.png
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/scripts/environment.sh
  .devcontainer/scripts/node.sh
  .devcontainer/scripts/user.sh
  .dockerignore
  .husky/commit-msg
  .husky/pre-commit
  api/.envrc
  api/Dockerfile
  api/config/config.exs
  api/config/dev.exs
  api/config/prod.exs
  api/config/releases.exs
  api/config/test.exs
  api/lib/beef/_repo.ex
  api/lib/kousa.ex
  api/mix.exs
  docker-compose.local.yml
  docker-compose.prod.yml
  docker-compose.yml
  run.ps1
  run.sh
Labels: none

feat(api): setup router
  api/.envrc
  api/config/config.exs
  api/config/dev.exs
  api/config/releases.exs
  api/config/test.exs
  api/lib/broth.ex
  api/lib/kousa.ex
  api/mix.exs
Labels: none

feat(api): setup db schemas
  api/lib/beef/access/users.ex
  api/lib/beef/mutations/users.ex
  api/lib/beef/queries/users.ex
  api/lib/beef/schemas/attending_scheduled_quiz.ex
  api/lib/beef/schemas/follow.ex
  api/lib/beef/schemas/quiz.ex
  api/lib/beef/schemas/quiz_block.ex
  api/lib/beef/schemas/scheduled_quiz.ex
  api/lib/beef/schemas/scheduled_quiz_cohost.ex
  api/lib/beef/schemas/user.ex
  api/lib/beef/schemas/user_block.ex
  api/lib/beef/users.ex
  api/lib/broth.ex
  api/lib/broth/plugs/cors.ex
  api/lib/broth/plugs/redirect.ex
  api/lib/broth/routes/dev_only.ex
  api/lib/broth/socket_handler.ex
  api/lib/kousa/access_token.ex
  api/lib/kousa/discord.ex
  api/lib/kousa/github.ex
  api/lib/kousa/metrics/prometheus.ex
  api/lib/kousa/refresh_token.ex
  api/lib/kousa/utils/errors.ex
  api/lib/kousa/utils/random.ex
  api/lib/kousa/utils/token_utils.ex
  api/lib/kousa/utils/uuid.ex
Labels: none

feat(api): user sessions and app sup tree and new plugs
  api/lib/beef/schemas/scheduled_quiz.ex
  api/lib/broth.ex
  api/lib/broth/plugs/check_auth.ex
  api/lib/broth/routes/stats.ex
  api/lib/broth/routes/user.ex
  api/lib/kousa.ex
  api/lib/onion/pub_sub.ex
  api/lib/onion/stats_cache.ex
  api/lib/onion/supervisors/quiz_chat.ex
  api/lib/onion/supervisors/quiz_session.ex
  api/lib/onion/supervisors/user_session.ex
  api/lib/onion/telemetry.ex
  api/lib/onion/user_session.ex
  api/priv/repo/migrations/20220823204749_most_db_tables.exs
Labels: none

feat(api changes): chnagegs
  api/lib/beef/follows.ex
  api/lib/broth.ex
  api/lib/kousa/auth.ex
Labels: none

feat(api): oauth finished
  api/lib/broth.ex
  api/lib/broth/routes/discord_auth.ex
  api/lib/broth/routes/github_auth.ex
  api/lib/broth/routes/twitter_auth.ex
  api/lib/kousa/utils/urls.ex
  api/mix.exs
  api/mix.lock
Labels: none

feat(api): set up ws routes
  api/Dockerfile
  api/lib/beef/follows.ex
  api/lib/beef/mutations/users.ex
  api/lib/beef/queries/users.ex
  api/lib/beef/schemas/quiz.ex
  api/lib/beef/schemas/scheduled_quiz_cohost.ex
  api/lib/beef/schemas/user.ex
  api/lib/beef/users.ex
  api/lib/broth/message.ex
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/auth/request.ex
  api/lib/broth/message/call.ex
  api/lib/broth/message/cast.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/push.ex
  api/lib/broth/routes/discord_auth.ex
  api/lib/broth/routes/github_auth.ex
  api/lib/broth/routes/twitter_auth.ex
  api/lib/broth/socket_handler.ex
  api/lib/broth/translator.ex
  api/lib/broth/translator/V0_1_0.ex
  api/lib/kousa.ex
  api/lib/kousa/access_token.ex
  api/lib/kousa/auth.ex
  api/lib/kousa/refresh_token.ex
  api/lib/kousa/release.ex
  api/lib/kousa/utils/pagination.ex
  api/lib/kousa/utils/random.ex
  api/lib/kousa/utils/version.ex
  api/lib/onion/user_session.ex
Labels: none

feat(global): new websocket setup
  api/config/config.exs
  api/lib/beef/schemas/user.ex
  api/lib/broth/message.ex
  api/lib/broth/message/auth/request.ex
  api/lib/broth/socket_handler.ex
  api/lib/broth/translator.ex
  api/lib/broth/translator/V0_1_0.ex
  api/priv/repo/migrations/20220824095520_current_quiz_id.exs
  docker-compose.local.yml
  docker-compose.prod.yml
  docker-compose.yml
  github.sh
  run.sh
  web/src/modules/ws/raw.ts
Labels: web

feat(global): added full support to the ws api
  api/lib/beef/access/users.ex
  api/lib/beef/queries/users.ex
  api/lib/beef/schemas/user.ex
  api/lib/beef/users.ex
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/auth/request.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/user/get_info.ex
Labels: none

fix(api): changes to github auth
  api/lib/broth/routes/github_auth.ex
  api/lib/broth/routes/twitter_auth.ex
  api/lib/kousa/utils/urls.ex
  api/lib/kousa/utils/version.ex
Labels: none

feat(global): changes
  web/public/manifest.json
  web/src/modules/user/UserProfileController.tsx
  web/src/modules/ws/types.ts
  web/src/modules/ws/wrapper.ts
Labels: web

feat(api): follow logic and user block db logic
  api/lib/beef/access/user_blocks.ex
  api/lib/beef/mutations/user_blocks.ex
  api/lib/beef/queries/user_blocks.ex
  api/lib/beef/user_blocks.ex
  api/lib/broth/message/user/follow.ex
  api/lib/broth/message/user/get_info.ex
  api/lib/broth/message/user/update.ex
  api/lib/kousa/follow_logic.ex
  api/lib/kousa/user.ex
Labels: none

feat(worked on display user profil): e
  api/lib/beef/follows.ex
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/user/ban.ex
  api/lib/broth/message/user/block.ex
  api/lib/broth/message/user/get_followers.ex
  api/lib/broth/message/user/get_following.ex
  api/lib/broth/message/user/unblock.ex
  api/lib/broth/message/user/unfollow.ex
  api/lib/broth/message/user/update.ex
  api/lib/broth/routes/dev_only.ex
  api/lib/kousa/user.ex
  api/lib/kousa/user_block.ex
  web/src/modules/ws/wrapper.ts
Labels: web

feat(global): changes
  api/lib/beef/access/quizes.ex
  api/lib/beef/queries/quizes.ex
  api/lib/beef/quizes.ex
  api/lib/beef/schemas/quiz.ex
  api/lib/beef/schemas/user.ex
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/misc/search.ex
  api/lib/broth/message/user/follow.ex
  api/lib/broth/message/user/unfollow.ex
  api/lib/broth/message/user/update.ex
  api/lib/kousa/follow_logic.ex
  api/priv/repo/migrations/20220824142435_quiz_description.exs
  web/public/locales/en/translation.json
  web/public/locales/fr/translation.json
  web/src/generated/translationKeys.ts
  web/src/modules/dashboard/FeedController.tsx
  web/src/modules/search/SearchController.tsx
  web/src/modules/user/UserPage.tsx
  web/src/modules/user/UserProfileController.tsx
  web/src/modules/ws/wrapper.ts
  web/src/pages/connection-taken.tsx
  web/src/ui/ProfileHeader.tsx
  web/src/ui/SettingsDropdown.tsx
  web/src/ui/header/RightHeader.tsx
Labels: web, translation

fix(web): removed bugs
  web/src/hooks/useWsMainHandler.tsx
  web/src/shared-components/ApiPreloadLink.tsx
Labels: web

feat(global): changes
  api/lib/beef/access/quizes.ex
  api/lib/beef/access/users.ex
  api/lib/beef/mutations/quizes.ex
  api/lib/beef/mutations/users.ex
  api/lib/beef/quiz_blocks.ex
  api/lib/beef/quiz_permissions.ex
  api/lib/beef/quizes.ex
  api/lib/beef/schemas/quiz_permission.ex
  api/lib/beef/users.ex
  api/lib/kousa/quiz.ex
  api/lib/onion/quiz_session.ex
  api/priv/repo/migrations/20220824150847_quiz_permissions.exs
Labels: none

feat(api): added the create quiz
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/quiz/create.ex
Labels: none

feat(api): join room logic and ws done
  api/lib/beef/access/quizes.ex
  api/lib/beef/quizes.ex
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/quiz/create.ex
  api/lib/broth/message/quiz/get_top.ex
  api/lib/broth/message/quiz/join.ex
  api/lib/kousa.ex
  api/lib/kousa/auth.ex
  api/lib/kousa/quiz.ex
  api/lib/onion/user_session.ex
Labels: none

feat(global): leaving quiz works
  api/lib/beef/access/quizes.ex
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/quiz/leave.ex
  web/src/hooks/useWsMainHandler.tsx
  web/src/modules/live/WorksController.tsx
  web/src/modules/quiz/chat/QuizChatInput.tsx
  web/src/modules/search/SearchController.tsx
  web/src/modules/ws/types.ts
  web/src/modules/ws/wrapper.ts
Labels: web

feat(api): added quiz chatr
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/_types/quiz_chat_token.ex
  api/lib/broth/message/_types/quiz_chat_token_type.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/quiz_chat/ban.ex
  api/lib/broth/message/quiz_chat/delete.ex
  api/lib/broth/message/quiz_chat/send.ex
  api/lib/broth/message/quiz_chat/unban.ex
  api/lib/broth/socket_handler.ex
  api/lib/kousa/quiz_chat.ex
  api/lib/onion/pub_sub.ex
  api/lib/onion/quiz_chat.ex
  api/lib/onion/quiz_session.ex
Labels: none

feat(chnages): ewuuyfwewef
  api/lib/broth/socket_handler.ex
  api/lib/onion/pub_sub.ex
  api/lib/onion/quiz_chat.ex
  api/lib/onion/user_session.ex
Labels: none

feat(global): finished quiz chat
  api/lib/broth/message.ex
  api/lib/broth/message/auth/request.ex
  api/lib/broth/socket_handler.ex
  api/lib/broth/translator.ex
  api/lib/broth/translator/v0_1_0.ex
  api/lib/onion/quiz_chat.ex
  web/src/hooks/useWsMainHandler.tsx
  web/src/modules/live/WorksController.tsx
  web/src/modules/quiz/chat/QuizChatInput.tsx
  web/src/modules/quiz/chat/useQuizChatStore.ts
  web/src/modules/ws/raw.ts
  web/src/modules/ws/types.ts
  web/src/modules/ws/wrapper.ts
Labels: web

feat(global): implemented chat modes and auto speaker
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/quiz/join.ex
  api/lib/broth/message/quiz/update.ex
  web/public/locales/en/translation.json
  web/public/locales/fr/translation.json
  web/src/hooks/useWsMainHandler.tsx
  web/src/modules/quiz/QuizSettingsModal.tsx
  web/src/modules/quiz/UserPreviewModal.tsx
  web/src/modules/quiz/chat/QuizChatList.tsx
  web/src/modules/ws/raw.ts
  web/src/modules/ws/wrapper.ts
Labels: web, translation

feat(api): added get invite list functionality
  api/lib/beef/follows.ex
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/quiz/get_invite_list.ex
Labels: none

feat(web): finished invite page
  api/lib/broth/message/quiz/get_invite_list.ex
  web/src/modules/quiz/InviteQuizPage.tsx
  web/src/modules/ws/wrapper.ts
Labels: web

fix(web): fixed the bug for edit profile
  web/src/modules/ws/wrapper.ts
Labels: web

fix(api): removed unused translator routes
  api/lib/broth/translator/v0_1_0.ex
Labels: none

feat(api): getting banned users from db in quiz
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/quiz/get_banned_users.ex
  api/lib/kousa/quiz_block.ex
Labels: none

feat(api): implemented quiz ban
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/quiz/ban.ex
  api/lib/broth/message/quiz/unban.ex
Labels: none

feat(api): added quiz ban and unbans
  api/lib/broth/message/quiz/ban.ex
Labels: none

feat(web): added quiz ban and unban wrapper functions
  web/src/modules/ws/wrapper.ts
Labels: web

feat(global): finished quiz user bans
  api/lib/beef/access/quizes.ex
  api/lib/beef/quiz_blocks.ex
  web/src/modules/quiz/QuizIconBarPanel.tsx
  web/src/modules/quiz/UserPreviewModal.tsx
  web/src/modules/ws/wrapper.ts
Labels: web

feat(api): added user inviting routes to quiz
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/quiz/invite.ex
Labels: none

feat(api): added route to get current quiz info
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/quiz/get_info.ex
Labels: none

fix(web): fixed the user ban from chat bug
  web/src/modules/quiz/UserPreviewModal.tsx
Labels: web
