Repository Irere123/Quibi, changes with the labels that .github/labeler.yml gives for each.
All labels: web, emote, translation

feat(web): chnages
  web/src/hooks/useCurrentQuizInfo.ts
  web/src/modules/errors/ErrorToastController.tsx
  web/src/modules/quiz/BlockedFromQuizUsers.tsx
  web/src/modules/quiz/QuizPageController.tsx
  web/src/modules/quiz/QuizSettingsModal.tsx
  web/src/modules/quiz/UserPreviewModal.tsx
  web/src/modules/quiz/chat/QuizChat.tsx
  web/src/modules/quiz/chat/QuizChatList.tsx
  web/src/modules/user/VerticalUserInfoWithFollowButton.tsx
  web/src/modules/ws/types.ts
  web/src/modules/ws/wrapper.ts
  web/src/pages/_app.tsx
Labels: web

refactor(web): folder structure changesd
  web/src/modules/chat/LeftPanel.tsx
  web/src/modules/chat/dm/DmChat.tsx
  web/src/modules/chat/forum/ForumPage.tsx
  web/src/modules/chat/forum/RoomForum.tsx
  web/src/modules/chat/forum/RoomForumContent.tsx
  web/src/modules/chat/forum/RoomForumRightPanel.tsx
  web/src/modules/chat/room/RoomController.tsx
  web/src/modules/chat/room/chat/Emote.tsx
  web/src/modules/chat/room/chat/EmoteData.ts
  web/src/modules/chat/room/chat/RoomChat.tsx
  web/src/modules/chat/room/chat/RoomChatHeader.tsx
  web/src/modules/chat/room/chat/RoomChatInput.tsx
  web/src/modules/chat/room/chat/RoomChatRightPanel.tsx
  web/src/modules/chat/room/chat/navigateThroughQueriedEmojis.ts
  web/src/modules/layouts/Panels.tsx
  web/src/pages/room/[roomId]/[subId].tsx
  web/src/pages/room/f/[roomId]/[id].tsx
  web/src/stores/useEmojiPickerStore.ts
  web/src/ui/EmojiPicker.tsx
Labels: web

refactor(web): new folder structure
  web/src/modules/chat/room/RoomController.tsx
  web/src/modules/chat/room/RoomPage.tsx
  web/src/modules/chat/room/RoomRightPanel.tsx
  web/src/modules/chat/room/chat/RoomChat.tsx
  web/src/modules/chat/room/chat/RoomChatInput.tsx
  web/src/modules/chat/room/chat/RoomMessages.tsx
  web/src/modules/chat/room/chat/navigateThroughQueriedEmojis.ts
  web/src/modules/chat/room/chat/useRoomChatStore.ts
  web/src/pages/chat.tsx
  web/src/pages/room/[roomId]/[subId].tsx
  web/src/stores/useChatStore.ts
  web/src/ui/EmojiPicker.tsx
Labels: web

refactor(web): removed socket status stores
  web/src/stores/useSocketStatus.ts
  web/src/stores/useStatus.ts
Labels: web

feat(web): updated ui for create room modal
  web/public/locales/en-US/translation.json
  web/src/modules/chat/room/CreateRoomModal.tsx
  web/src/ui/NativeCheckbox.tsx
Labels: web, translation

feat(web): added the create room ws func
  web/src/modules/ws/wrapper.ts
Labels: web

feat(global): users are able to create rooms
  api/ARCHITECTURE.md
  api/config/test.exs
  api/lib/beef/access/rooms.ex
  api/lib/beef/mutations/rooms.ex
  api/lib/beef/rooms.ex
  api/lib/beef/schemas/room.ex
  api/lib/beef/schemas/sub_room.ex
  api/lib/broth/message.ex
  api/lib/broth/socket_handler.ex
  api/lib/okra/quiz_block.ex
  api/lib/okra/room.ex
  api/priv/repo/migrations/20220816181622_alter_rooms.exs
  api/priv/repo/migrations/20220816182052_alter_rooms2.exs
Labels: none

feat(global): users are able to create rooms
  web/src/modules/chat/LeftPanel.tsx
  web/src/modules/chat/room/CreateRoomModal.tsx
  web/src/modules/layouts/Panels.tsx
  web/src/modules/layouts/TabletSidebar.tsx
  web/src/modules/ws/WebSocketProvider.tsx
  web/src/modules/ws/wrapper.ts
  web/src/pages/_app.tsx
  web/src/pages/chat.tsx
  web/src/stores/useRoomsStore.ts
Labels: web

feat(api): removed sub_rooms from db
  api/lib/beef/mutations/rooms.ex
  api/lib/beef/schemas/sub_room.ex
  api/lib/broth/message.ex
  api/priv/repo/migrations/20220801142035_db_setup_1.exs
Labels: none

feat(web): removed sub rooms routes
  web/src/modules/chat/LeftPanel.tsx
  web/src/modules/chat/room/CreateRoomModal.tsx
  web/src/pages/room/[id].ts
  web/src/pages/room/[roomId]/[subId].tsx
Labels: web

feat(api): added a room message schema
  api/lib/beef/schemas/message.ex
  api/lib/onion/quiz_chat.ex
  web/src/lib/createQuizChatMessage.ts
  web/src/modules/quiz/chat/QuizChatInput.tsx
Labels: web

feat(global): rooms
  api/config/config.exs
  api/lib/beef/access/rooms.ex
  api/lib/beef/messages.ex
  api/lib/beef/queries/rooms.ex
  api/lib/beef/rooms.ex
  api/lib/beef/schemas/message.ex
  api/lib/broth/message.ex
  api/lib/okra/room_chat.ex
  api/lib/onion/quiz_chat.ex
  api/mix.exs
  api/mix.lock
  api/priv/repo/migrations/20220817174027_room_messages.exs
  web/next.config.js
  web/package.json
  web/src/hooks/useWsMainHandler.tsx
  web/src/modules/auth/WaitForWsAndAuth.tsx
  web/src/modules/chat/room/chat/RoomChat.tsx
  web/src/modules/chat/room/chat/RoomChatHeader.tsx
  web/src/modules/chat/room/chat/RoomChatInput.tsx
  web/src/modules/chat/room/chat/RoomMessages.tsx
  web/src/modules/chat/room/chat/navigateThroughQueriedUsers.ts
  web/src/modules/chat/room/chat/useRoomChatStore.ts
  web/src/modules/chat/room/chat/useRoomMentionStore.ts
  web/src/modules/chat/useGetRoomFromQueryParams.tsx
  web/src/modules/layouts/ChatLayout.tsx
  web/src/modules/layouts/FloatingQuizInfo.tsx
  web/src/modules/quiz/BlockedFromQuizUsers.tsx
  web/src/modules/ws/wrapper.ts
  web/src/ui/ChoiceElement.tsx
  web/src/ui/FormattedDate.tsx
Labels: web

feat(global): removed Account page header component
  web/src/modules/academic/events/EventsPage.tsx
  web/src/modules/academic/tasks/TasksPage.tsx
  web/src/ui/AccountPageHeader.tsx
Labels: web

fix(web): removed the dm folders
  web/src/modules/chat/dm/DmChat.tsx
  web/src/modules/chat/dm/DmChatController.tsx
  web/src/modules/chat/dm/DmChatHeader.tsx
  web/src/modules/chat/dm/DmMessages.tsx
  web/src/modules/chat/dm/DmRightPanel.tsx
  web/src/pages/dm/[id].tsx
Labels: web

changes
  web/public/locales/kiny/translation.json
Labels: web, translation

feat(global): added changelog and yarn workspaces
  .assets/quibi.png
  .gitignore
  .vscode/settings.json
  CHANGELOG.md
  README.md
  api/config/config.exs
  package.json
  web/package.json
Labels: web

style(global): updated readme
  README.md
Labels: none

refactor(web): unable to fix the chat layout
  api/config/prod.exs
  api/lib/beef/messages.ex
  api/lib/broth/message.ex
  api/lib/broth/routes/google_auth.ex
  api/lib/broth/routes/twitter_auth.ex
  api/lib/okra/room_chat.ex
  web/src/modules/chat/room/RoomChatHeader.tsx
  web/src/modules/chat/room/RoomController.tsx
  web/src/modules/chat/room/chat/RoomChat.tsx
  web/src/modules/chat/room/chat/RoomMessages.tsx
Labels: web

feat(web): new features
  web/src/ui/ErrorToast.tsx
  web/src/ui/NotificationElement/FollowNotification.tsx
  web/src/ui/NotificationElement/GenericNotification.tsx
  web/src/ui/NotificationElement/NewQuizNotification.tsx
  web/src/ui/NotificationElement/index.ts
  web/src/ui/NotificationsDropdown.tsx
  web/src/ui/header/RightHeader.tsx
Labels: web

perf(web): changed the followers display on profile page
  web/src/ui/ProfileHeader.tsx
Labels: web

fix(web): removed shadow prop on boxedicon comp
  web/src/modules/dashboard/MyPeopleOnline.tsx
  web/src/modules/layouts/Panels.tsx
  web/src/ui/Avatars/SingleUser.tsx
  web/src/ui/UserSummaryCard.tsx
Labels: web

feat(web): new translations
  web/public/locales/en/translation.json
  web/public/locales/fr/translation.json
  web/public/locales/kiny/translation.json
  web/src/generated/translationKeys.ts
  web/src/modules/quiz/CreateQuizModal.tsx
  web/src/modules/user/EditProfileModal.tsx
  web/src/ui/ProfileHeader.tsx
  web/src/ui/UpcomingEventsCard.tsx
Labels: web, translation

feat(api): added chatmode, autospeaker, chatthrottle and ip to db tables users and quiz
  api/lib/beef/schemas/quiz.ex
  api/lib/beef/schemas/user.ex
Labels: none

feat(api): db migrations
  api/priv/repo/migrations/20220820113156_changes.exs
Labels: none

feat(api): added githubId and accessToken db columns
  api/priv/repo/migrations/20220820113156_changes.exs
Labels: none

refactor(api): removed that chatmode and autospeaker from quiz session
  api/lib/onion/quiz_session.ex
Labels: none

refactor(global): removed some stuff
  api/lib/beef/schemas/quiz.ex
  api/lib/broth/socket_handler.ex
  api/lib/onion/quiz_session.ex
  api/lib/onion/user_session.ex
  api/priv/repo/migrations/20220820113156_changes.exs
Labels: none

refactor(web): removed the admin badge
  web/src/modules/quiz/chat/QuizChatList.tsx
  web/src/stories/FeedCard.story.tsx
  web/src/stories/QuizCard.story.tsx
  web/src/stories/UserSummaryCard.story.tsx
Labels: web

feat(global): added invited to join quiz modal
  api/lib/onion/quiz_session.ex
  web/src/hooks/useWsMainHandler.tsx
  web/src/modules/quiz/InviteQuizPage.tsx
  web/src/pages/_app.tsx
  web/src/shared-components/InvitedToJoinQuizModal.tsx
Labels: web

feat(web__api): added user follow create quiz notifications
  api/lib/beef/follows.ex
  api/lib/okra/follow_logic.ex
  api/lib/okra/quiz.ex
  web/src/hooks/useWsMainHandler.tsx
Labels: web

refactor(web): removed the dogehouse emotes
  web/public/emotes/DogePls.gif
  web/public/emotes/browndogehouse.png
  web/public/emotes/coolhouse.png
  web/public/emotes/cyandogehouse.png
  web/public/emotes/dodgyCoin.png
  web/public/emotes/doge3d.gif
  web/public/emotes/dogecool.gif
  web/public/emotes/dogehouse.png
  web/public/emotes/orangedogehouse.png
  web/public/emotes/purpledogehouse.png
  web/public/emotes/reddogehouse.png
  web/public/emotes/sadhouse.png
  web/public/emotes/suprisehouse.png
  web/public/emotes/winkhouse.png
  web/src/modules/chat/room/chat/RoomChatInput.tsx
  web/src/shared-components/Emote.tsx
  web/src/shared-components/EmoteData.ts
  web/src/stores/useEmojiPickerStore.ts
  web/src/ui/EmojiPicker.tsx
Labels: web, emote

feat(web): added emote support
  api/lib/okra/quiz_chat.ex
  web/src/hooks/useCurrentQuizFromCache.ts
  web/src/hooks/useCurrentQuizId.ts
  web/src/lib/createQuizChatMessage.ts
  web/src/modules/quiz/QuizChatController.tsx
  web/src/modules/quiz/chat/QuizChatInput.tsx
  web/src/modules/quiz/chat/QuizChatList.tsx
  web/src/modules/quiz/chat/navigateThroughQueriedEmojis.ts
  web/src/modules/quiz/chat/useQuizChatStore.ts
  web/src/ui/EmojiPicker.tsx
Labels: web

feat(web): chnages
  web/src/modules/landing-page/LoginPage.tsx
Labels: web

fix(web): removed the shadow prop on boxed icon
  web/src/modules/layouts/TabletSidebar.tsx
Labels: web

feat(web): new icons
  web/src/icons/BroadcastIcon.tsx
  web/src/icons/RecordIcon.tsx
  web/src/icons/VerifiedIcon.tsx
  web/src/icons/index.ts
Labels: web

feat(web): new tablet sidebar and leftpanel icons and navigations
  web/src/icons/BroadcastIcon.tsx
  web/src/icons/RecordIcon.tsx
  web/src/modules/layouts/Panels.tsx
  web/src/modules/layouts/TabletSidebar.tsx
Labels: web

chore(web): added material ui datepickers library
  web/package.json
  web/src/pages/connection-taken.tsx
  web/src/shared-components/InvitedToJoinQuizModal.tsx
  yarn.lock
Labels: web

feat(web): added new alert component and changes the error toast config
  web/.storybook/preview.js
  web/src/hooks/useWsMainHandler.tsx
  web/src/icons/ErrorIcon.tsx
  web/src/icons/InfoIcon.tsx
  web/src/icons/SuccessIcon.tsx
  web/src/icons/WarningIcon.tsx
  web/src/icons/index.ts
  web/src/lib/showErrorToast.ts
  web/src/modules/chat/room/CreateRoomModal.tsx
  web/src/modules/chat/room/chat/RoomChatInput.tsx
  web/src/modules/chat/useGetRoomFromQueryParams.tsx
  web/src/modules/errors/ErrorToastController.tsx
  web/src/modules/errors/useErrorToastStore.tsx
  web/src/modules/quiz/CreateQuizModal.tsx
  web/src/modules/quiz/chat/QuizChatInput.tsx
  web/src/modules/quiz/useGetQuizByQueryParams.tsx
  web/src/stories/Alert.story.tsx
  web/src/stories/ErrorToast.story.tsx
  web/src/ui/Alert.tsx
  web/src/ui/ErrorToast.tsx
Labels: web

chore(web): changes
  web/src/stories/BaseOverlay.story.tsx
  web/src/stories/QuizCard.story.tsx
Labels: web

fix(web): new button colors
  web/src/ui/Button.tsx
Labels: web

.github/labeler.yml:

web:
  - web/**/*
emote:
  - web/public/emotes/**/*
translation:
  - web/public/locales/**/*
