Repository Irere123/Quibi, changes with the labels that .github/labeler.yml gives for each.
All labels: web, emote, translation

feat(web): added connection taken page
  web/src/modules/chat/room/RoomController.tsx
  web/src/pages/connection-taken.tsx
Labels: web

feat(api): twitter oauth finished
  api/lib/beef/schemas/user.ex
  api/lib/broth/routes/twitter_auth.ex
  api/lib/okra.ex
  api/lib/okra/access_token.ex
  api/lib/okra/metrics/prometheus.ex
  api/mix.exs
  api/mix.lock
Labels: none

feat(api): added route to view all users
  api/lib/broth.ex
  api/lib/broth/routes/users.ex
Labels: none

feat(api): added a translator for websocket calls
  api/lib/broth/message.ex
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/user/get_info.ex
  api/lib/broth/socket_handler.ex
  api/lib/broth/translator.ex
  api/lib/broth/translator/v0_1_0.ex
Labels: none

feat(web+api): worked on the profile page
  api/lib/broth/routes/dev_only.ex
  api/lib/broth/translator/v0_1_0.ex
Labels: none

feat(web): worked on the profile page
  web/src/form-fields/InputField.tsx
  web/src/hooks/useConn.tsx
  web/src/hooks/useTypeSafeMutation.tsx
  web/src/hooks/useTypeSafePrefetch.ts
  web/src/hooks/useTypeSafeQuery.tsx
  web/src/hooks/useTypeSafeUpdateQuery.ts
  web/src/icons/CalendarMonth.tsx
  web/src/icons/LinkIcon.tsx
  web/src/icons/index.ts
  web/src/lib/ApiPreloadLink.tsx
  web/src/lib/validateStruct.ts
  web/src/modules/user/EditProfileModal.tsx
  web/src/modules/user/UserPage.tsx
  web/src/modules/user/UserProfileController.tsx
  web/src/modules/ws/WebSocketProvider.tsx
  web/src/modules/ws/createWebSocket.ts
  web/src/modules/ws/wrapper.ts
  web/src/ui/InfoText.tsx
  web/src/ui/InputErrorMsg.tsx
  web/src/ui/ProfileHeader.tsx
  web/src/ui/ProfileHeaderWrapper.tsx
  web/src/ui/UserProfile.tsx
  web/src/ui/header/RightHeader.tsx
Labels: web

feat(web+api): added date joined on the profile page
  api/lib/beef/schemas/user.ex
  api/lib/broth/message/user/get_info.ex
  web/src/ui/ProfileHeader.tsx
Labels: web

feat(web): worked new learning oriented design
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/auth/request.ex
  api/lib/broth/translator/v0_1_0.ex
  api/lib/okra/user.ex
  web/src/icons/AppsIcon.tsx
  web/src/icons/RadarIcon.tsx
  web/src/icons/index.ts
  web/src/modules/dashboard/CreatePovModal.tsx
  web/src/modules/dashboard/FeedController.tsx
  web/src/modules/dashboard/MyPeopleOnline.tsx
  web/src/modules/discovery/DiscoverController.tsx
  web/src/modules/discovery/DiscoveryPage.tsx
  web/src/modules/layouts/Panels.tsx
  web/src/modules/pov/CommentsPanel.tsx
  web/src/modules/pov/PovController.tsx
  web/src/modules/pov/PovDetailPage.tsx
  web/src/modules/user/EditProfileModal.tsx
  web/src/pages/_app.tsx
  web/src/pages/discovery/index.tsx
  web/src/pages/pov/[id].tsx
  web/src/shared-components/ApiPreloadLink.tsx
  web/src/shared-components/ConfirmModal.tsx
  web/src/ui/AccountPageHeader.tsx
  web/src/ui/FeedHeader.tsx
  web/src/ui/Povs.tsx
  web/src/ui/ProfileHeader.tsx
  web/src/ui/UpcomingEventsCard.tsx
  web/src/ui/UserAvatar/SingleUser.tsx
  web/src/ui/header/RightHeader.tsx
Labels: web

feat(web+api): made search user feature work
  api/lib/beef/access/users.ex
  api/lib/beef/schemas/user.ex
  api/lib/beef/users.ex
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/search/search.ex
  api/lib/broth/message/user/update.ex
  api/lib/broth/translator/v0_1_0.ex
  web/src/modules/layouts/Panels.tsx
  web/src/modules/search/SearchController.tsx
  web/src/modules/user/EditProfileModal.tsx
  web/src/modules/ws/wrapper.ts
  web/src/ui/AccountPageHeader.tsx
  web/src/ui/ProfileHeader.tsx
  web/src/ui/UpcomingEventsCard.tsx
  web/src/ui/UserAvatar/SingleUser.tsx
  web/src/ui/search/SearchHistory.tsx
  web/src/ui/search/SearchResult/UserSearchResult.tsx
  web/src/ui/search/SearchResult/index.ts
Labels: web

feat(web): ui for create room modal finished
  web/src/modules/chat/LeftPanel.tsx
  web/src/modules/chat/room/CreateRoomModal.tsx
  web/src/modules/chat/room/RoomChatRightPanel.tsx
  web/src/stores/useModalPageStore.tsx
  web/src/ui/EmojiPicker.tsx
Labels: web

refactor(web): made some ui redesign on chat page
  web/src/modules/chat/LeftPanel.tsx
  web/src/modules/chat/room/RoomChatHeader.tsx
Labels: web

feat(web): added a spinner when loading on button
  web/src/ui/Button.tsx
Labels: web

added the auth check and redirect logic
  web/src/ui/BaseOverlay.tsx
  web/src/ui/DropdownController.tsx
  web/src/ui/MenuDropDown.tsx
  web/src/ui/SettingsDropdown.tsx
  web/src/ui/header/RightHeader.tsx
Labels: web

feat(api): room db schema
  api/lib/beef/schemas/room.ex
  api/lib/beef/schemas/room_member.ex
  api/lib/beef/schemas/school.ex
  api/lib/beef/schemas/sub_room.ex
Labels: none

refactor(api): some changes on db
  api/lib/beef/mutations/users.ex
  api/lib/broth/routes/twitter_auth.ex
  api/priv/repo/migrations/20220727093159_create_users.exs
  api/priv/repo/migrations/20220727100356_online.exs
  api/priv/repo/migrations/20220727101732_delete_online.exs
  api/priv/repo/migrations/20220730092341_add_discord.exs
  api/priv/repo/migrations/20220730093035_add_discord2.exs
  api/priv/repo/migrations/20220801142035_db_setup_1.exs
Labels: none

refactor(api): added a rooms relations migration
  api/priv/repo/migrations/20220801144413_rooms_relations.exs
Labels: none

feat(api): users are able to create rooms
  api/lib/beef/access/rooms.ex
  api/lib/beef/mutations/rooms.ex
  api/lib/beef/queries/rooms.ex
  api/lib/beef/rooms.ex
  api/lib/beef/schemas/room.ex
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/auth/request.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/room/create.ex
  api/lib/broth/routes/users.ex
  api/lib/broth/translator/v0_1_0.ex
  api/lib/okra/room.ex
  api/priv/repo/migrations/20220801145444_rooms_has_school.exs
  api/priv/repo/migrations/20220801163025_timestamps.exs
  web/src/modules/chat/room/CreateRoomModal.tsx
  web/src/modules/layouts/Panels.tsx
  web/src/modules/ws/createWebSocket.ts
  web/src/modules/ws/wrapper.ts
Labels: web

feat(web): updated the routes to fit our backend design
  web/src/modules/chat/forum/ForumPage.tsx
  web/src/modules/chat/forum/RoomForum.tsx
  web/src/modules/chat/forum/RoomForumContent.tsx
  web/src/modules/chat/forum/RoomForumRightPanel.tsx
  web/src/pages/chat/dm/[id].tsx
  web/src/pages/chat/f/[roomId]/[forumId].tsx
  web/src/pages/chat/index.tsx
  web/src/pages/chat/r/[roomId]/[subRoomId].tsx
  web/src/pages/dm/[id].tsx
  web/src/pages/room/[roomId]/[subRoomId].tsx
  web/src/pages/room/f/[id].tsx
Labels: web

added the auth check and redirect logic
  web/src/modules/layouts/Panels.tsx
Labels: web

refactor(web): renamed userAvatar to Avatars
  web/src/modules/chat/LeftPanel.tsx
  web/src/modules/chat/forum/ForumPage.tsx
  web/src/modules/chat/room/CreateRoomModal.tsx
  web/src/modules/chat/room/RoomChatHeader.tsx
  web/src/modules/chat/room/RoomChatRightPanel.tsx
  web/src/modules/dashboard/MyPeopleOnline.tsx
  web/src/modules/user/PeopleController.tsx
  web/src/pages/room/f/[id].tsx
  web/src/pages/room/f/[roomId]/[id].tsx
  web/src/stories/UserAvatar/MultipleUsers.story.tsx
  web/src/stories/UserAvatar/SingleUser.story.tsx
  web/src/ui/AccountPageHeader.tsx
  web/src/ui/Avatars/MultipleUsers.tsx
  web/src/ui/Avatars/SingleUser.tsx
  web/src/ui/Avatars/index.ts
  web/src/ui/Card.tsx
  web/src/ui/FeedCard.tsx
  web/src/ui/FollowSuggCard.tsx
  web/src/ui/MessageElement.tsx
  web/src/ui/ProfileHeader.tsx
  web/src/ui/UpcomingEventsCard.tsx
  web/src/ui/UserSummaryCard.tsx
  web/src/ui/WorkCard.tsx
  web/src/ui/header/RightHeader.tsx
  web/src/ui/search/SearchResult/UserSearchResult.tsx
Labels: web

feat(ui): added roomAvatar
  web/src/modules/chat/LeftPanel.tsx
  web/src/ui/Avatars/RoomAvatar.tsx
  web/src/ui/Avatars/index.ts
Labels: web

refactor(web): changes
  web/src/modules/chat/LeftPanel.tsx
  web/src/modules/chat/room/CreateRoomModal.tsx
Labels: web

feat(web): updated translations and routes
  web/public/locales/en-US/translation.json
  web/public/locales/en/translation.json
  web/public/locales/fr/translation.json
  web/public/locales/kiny/translation.json
  web/src/generated/translationKeys.ts
  web/src/modules/academic/AccountController.tsx
  web/src/modules/academic/AccountPage.tsx
  web/src/modules/academic/LeftPanel.tsx
  web/src/modules/academic/events/EventsPage.tsx
  web/src/modules/academic/goals/GoalsPage.tsx
  web/src/modules/explore/CreateQuizModal.tsx
  web/src/modules/explore/ExplorePage.tsx
  web/src/modules/explore/Quizes.tsx
  web/src/modules/explore/RightPanel.tsx
  web/src/modules/explore/WorksController.tsx
  web/src/modules/layouts/Panels.tsx
  web/src/pages/create-quiz.tsx
  web/src/pages/explore/index.tsx
  web/src/pages/index.tsx
  web/src/pages/u/academic/events.tsx
  web/src/pages/u/academic/goals.tsx
  web/src/pages/u/academic/index.tsx
  web/src/pages/u/account/events.tsx
  web/src/pages/u/account/goals.tsx
  web/src/pages/u/account/index.tsx
  web/src/pages/works/index.tsx
Labels: web, translation

feat(web): setup for the quiz page
  web/src/modules/explore/Quizes.tsx
  web/src/modules/quiz/QuizPage.tsx
  web/src/modules/quiz/QuizPageController.tsx
  web/src/pages/explore.tsx
  web/src/pages/explore/index.tsx
  web/src/pages/quiz/[id]/index.ts
Labels: web

feat(web): ui for live quiz page
  web/public/locales/en-US/translation.json
  web/public/locales/en/translation.json
  web/public/locales/fr/translation.json
  web/public/locales/kiny/translation.json
  web/src/icons/ChatBubble.tsx
  web/src/icons/index.ts
  web/src/modules/dashboard/MyPeopleOnline.tsx
  web/src/modules/layouts/Panels.tsx
  web/src/modules/quiz/QuizChatController.tsx
  web/src/modules/quiz/QuizIconBarPanel.tsx
  web/src/modules/quiz/QuizInfoPanel.tsx
  web/src/modules/quiz/QuizOpenGraphPreview.tsx
  web/src/modules/quiz/QuizPage.tsx
  web/src/modules/quiz/QuizPageController.tsx
  web/src/modules/quiz/QuizQuestionsPanel.tsx
  web/src/modules/quiz/chat/QuizChatHeader.tsx
  web/src/modules/quiz/chat/QuizChatInput.tsx
  web/src/modules/quiz/chat/QuizChatList.tsx
  web/src/ui/QuestionElement.tsx
  web/src/ui/QuizPanelIconBar.tsx
Labels: web, translation

feat(web): setup for the scheduled quiz page
  web/README.md
  web/src/icons/DoNotDisturb.tsx
  web/src/icons/index.ts
  web/src/modules/explore/CreateQuizModal.tsx
  web/src/modules/explore/Quizes.tsx
  web/src/modules/explore/WorksController.tsx
  web/src/modules/quiz/CreateQuizModal.tsx
  web/src/modules/scheduled-quizes/CreateScheduledQuizModal.tsx
  web/src/modules/scheduled-quizes/ScheduleQuizesPage.tsx
  web/src/modules/scheduled-quizes/ScheduledQuizCard.tsx
  web/src/modules/scheduled-quizes/ScheduledQuizList.tsx
  web/src/pages/scheduled-quizes.tsx
  web/tsconfig.json
Labels: web

feat(web): added cypress tests
  web/cypress/integration/home.ts
  web/cypress/support/commands.js
  web/cypress/support/commands.ts
  web/cypress/support/index.d.ts
  web/cypress/support/test-constants.ts
Labels: web

feat(web): added cypress tests
  web/cypress/integration/home.ts
Labels: web

feat(web): redesigned the academic page
  web/src/modules/academic/AcademicController.tsx
  web/src/modules/academic/AcademicPage.tsx
  web/src/modules/academic/AccountController.tsx
  web/src/modules/academic/AccountPage.tsx
  web/src/modules/academic/LeftPanel.tsx
  web/src/modules/academic/tasks/GoalsPage.tsx
  web/src/modules/layouts/AccountLayout.tsx
  web/src/modules/layouts/DesktopLayout.tsx
  web/src/modules/layouts/GridPanels.tsx
  web/src/modules/layouts/Panels.tsx
  web/src/modules/quiz/QuizPage.tsx
  web/src/modules/scheduled-quizes/ScheduleQuizesPage.tsx
  web/src/modules/user/PeoplePage.tsx
  web/src/modules/user/UserPage.tsx
  web/src/pages/u/academic/index.tsx
  web/src/pages/u/academic/tasks.tsx
Labels: web

feat(api): added user_blocks and follows schemas
  api/lib/beef/schemas/follow.ex
  api/lib/beef/schemas/user.ex
  api/lib/beef/schemas/user_block.ex
  api/lib/broth/message/auth/request.ex
  api/priv/repo/migrations/20220805101223_following.exs
  web/src/modules/academic/AcademicController.tsx
Labels: web

feat(api): added follow api routes and logic
  api/lib/beef/follows.ex
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/_types/relationship.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/user/follow.ex
  api/lib/broth/message/user/get_followers.ex
  api/lib/broth/message/user/get_following.ex
  api/lib/broth/message/user/get_info.ex
  api/lib/broth/message/user/get_relationship.ex
  api/lib/broth/message/user/unfollow.ex
  api/lib/broth/translator/v0_1_0.ex
  api/lib/okra/follow_logic.ex
Labels: none

feat(web): follow and unfollow functionality
  api/lib/beef/access/users.ex
  api/lib/beef/queries/users.ex
  api/lib/beef/schemas/follow.ex
  api/lib/beef/users.ex
  api/lib/broth/message/user/get_info.ex
  web/src/modules/ws/wrapper.ts
  web/src/ui/ProfileHeader.tsx
Labels: web

feat(web): ui layout for tablets
  web/src/modules/layouts/TabletSidebar.tsx
  web/src/ui/header/MiddleHeader.tsx
  web/src/ui/header/RightHeader.tsx
Labels: web

feat(api): following online
  api/lib/beef/access/users.ex
  api/lib/beef/follows.ex
  api/lib/beef/schemas/follow.ex
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/user/online.ex
  api/lib/broth/translator/v0_1_0.ex
  api/lib/okra/follow_logic.ex
  web/src/modules/dashboard/MyPeopleOnline.tsx
  web/src/modules/ws/wrapper.ts
Labels: web

feat(web): added the user type
  web/src/modules/user/UserPage.tsx
  web/src/modules/ws/WebSocketProvider.tsx
  web/src/modules/ws/createWebSocket.ts
  web/src/modules/ws/types.ts
Labels: web

feat(api): added access and mutations functions for userBlocks
  api/lib/beef/access/user_blocks.ex
  api/lib/beef/mutations/user_blocks.ex
  api/lib/beef/queries/user_blocks.ex
  api/lib/beef/user_blocks.ex
Labels: none

feat(api): added websockets api route for user blocking
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/user/block.ex
  api/lib/broth/message/user/unblock.ex
  api/lib/broth/socket_handler.ex
  api/lib/okra/user_block.ex
Labels: none

feat(web): users can block others on their profiles
  api/lib/beef/access/users.ex
  api/lib/beef/schemas/user_block.ex
  web/src/modules/user/UserProfileController.tsx
  web/src/modules/ws/wrapper.ts
  web/src/ui/ProfileHeader.tsx
Labels: web

feat(api_web): added fecth and creation of public quizes
  api/config/config.exs
  api/lib/beef/access/quizes.ex
  api/lib/beef/access/users.ex
  api/lib/beef/follows.ex
  api/lib/beef/mutations/quizes.ex
  api/lib/beef/mutations/users.ex
  api/lib/beef/queries/quizes.ex
  api/lib/beef/queries/user_blocks.ex
  api/lib/beef/queries/users.ex
  api/lib/beef/quizes.ex
  api/lib/beef/schemas/quiz.ex
  api/lib/beef/schemas/user.ex
  api/lib/beef/user_blocks.ex
  api/lib/beef/users.ex
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/quiz/create.ex
  api/lib/broth/message/quiz/get_top.ex
  api/lib/broth/translator/v0_1_0.ex
  api/lib/okra.ex
  api/lib/okra/quiz.ex
  api/lib/onion/chat.ex
  api/lib/onion/quiz_session.ex
  api/lib/onion/supervisors/quiz_session.ex
  api/lib/onion/user_session.ex
  api/priv/repo/migrations/20220806112034_quiz_table.exs
  api/priv/repo/migrations/20220806124037_quiz_table2.exs
  web/src/icons/Feather.tsx
  web/src/icons/index.ts
  web/src/modules/errors/ErrorToastController.tsx
  web/src/modules/explore/Quizes.tsx
  web/src/modules/explore/WorksController.tsx
  web/src/modules/quiz/CreateQuizModal.tsx
  web/src/modules/quiz/chat/useQuizChatStore.ts
  web/src/modules/ws/wrapper.ts
  web/src/stores/useCurrentQuizStore.ts
  web/src/ui/MainGrid.tsx
  web/src/ui/ModalSmallCard.tsx
  web/src/ui/header/RightHeader.tsx
Labels: web

feat(api): working on quizes
  api/lib/beef/mutations/quizes.ex
  api/lib/broth/message/_types/operator.ex
  api/lib/broth/message/manifest.ex
  api/lib/broth/message/quiz/join.ex
  api/lib/broth/translator/v0_1_0.ex
  api/lib/onion/quiz_session.ex
  web/src/modules/explore/Quizes.tsx
  web/src/modules/quiz/CreateQuizModal.tsx
  web/src/modules/ws/wrapper.ts
Labels: web

.github/labeler.yml:

web:
  - web/**/*
emote:
  - web/public/emotes/**/*
translation:
  - web/public/locales/**/*
